In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
import pickle

ModuleNotFoundError: No module named 'sklearn'

In [3]:
# Memanggil Data yang akan digunakan
data = pd.read_csv('water_potability.csv')
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [4]:
# Mengisi data yang kosong dengan nilai rata-rata setiap kolom
data = data.fillna(data.mean())

In [11]:
data['Potability'] = data['Potability'].apply(lambda x: 'Layak minum' if x == 1 else ('Tidak Layak  Minum' if x ==0 else None))
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,Tidak Layak Minum
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656,Tidak Layak Minum
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934,Tidak Layak Minum
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,Tidak Layak Minum
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,Tidak Layak Minum
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,Layak minum
3272,7.808856,193.553212,17329.802160,8.061362,333.775777,392.449580,19.903225,66.396293,2.798243,Layak minum
3273,9.419510,175.762646,33155.578218,7.350233,333.775777,432.044783,11.039070,69.845400,3.298875,Layak minum
3274,5.126763,230.603758,11983.869376,6.303357,333.775777,402.883113,11.168946,77.488213,4.708658,Layak minum
3275,7.874671,195.102299,17404.177061,7.509306,333.775777,327.459760,16.140368,78.698446,2.309149,Layak minum

In [5]:
# Memisahkan data Label dan data fitur
data_label = data["Potability"]
data_fitur = data[data.columns[0:9]]

In [6]:
# standarisasi nilai-nilai dari dataset
scaler = StandardScaler()
scaler.fit(data_fitur)
data_fitur = scaler.transform(data_fitur)

NameError: name 'StandardScaler' is not defined

In [14]:
# Membagi data menjadi data latih dan data uji
X_train, X_test, Y_train, Y_test = train_test_split(data_fitur, data_label, test_size = 0.2, random_state=42)

# Membagi data menjadi data latih dan data uji, lalu data latih dibagi menjadi data val untuk dipakai pada model neural network
X_truetrain, X_val, Y_truetrain, Y_val = train_test_split(X_train, Y_train, test_size = 0.3, random_state=42)

In [15]:
# Melatih Model dengan parameter yang telah didatapatkan
classifier = MLPClassifier(hidden_layer_sizes=(200, ), activation='tanh')
classifier.fit(X_truetrain, Y_truetrain)

C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(activation='tanh', hidden_layer_sizes=(200,))

In [16]:
pickle.dump(classifier, open("model1.pkl","wb"))